@use "@assets/styles/mixin.scss" as *;

.empty_container {
  @include align-center;
  &__inner {
    width: 250px;
    @include align-center;
    flex-direction: column;
  }
  &__animaton_box {
    &__element {
      height: 200px;
    }
  }
  &__title {
    font-size: 1rem;
    line-height: 1.5;
    text-align: center;
    font-weight: 500;
    letter-spacing: 1px;
    color: var(--jadeGreen);
    text-transform: capitalize;
  }
}
