@use '@assets/styles/mixin' as *;

.spinner {
  @include align-center;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  backdrop-filter: blur(5px);
  background: rgba(0, 0, 0, 0.04);
  z-index: 9999;

  &__item {
    @include align-center;
    height: 50px;
    width: 50px;
    font-size: 3rem;
    color: #05C26A;
    border: 3px solid #ffffff;
    border-radius: 50%;
    border-top-color: #05C26A;
    animation: spin 1s linear infinite;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
