@use "../../../assets/styles/mixin.scss" as *;

.productCard {
  border: 1px solid rgba(131, 127, 127, 0);
  box-shadow: inset 0 0 9px 1px rgb(186, 236, 210);
  color: #05c26a;
  @include align-center;
  justify-content: space-around;
  align-items: stretch;
  flex-direction: column;
  border-radius: 1rem;
  min-height: 350px;
  width: 300px !important;
  padding: 10px;

  &__wrapper {
    height: 260px;
    width: 100%;
    border-radius: 10px;
    @include align-center;
    overflow: hidden;
    position: relative;
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
  }

  &__content {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }

  &__title {
    font-size: 1.5rem;
    font-weight: 700;
    color: #000;
  }

  &__description {
    font-size: 0.9rem;
    font-weight: 400;
    color: #000;
  }
  &__price {
    font-size: 1rem;
    font-weight: 500;
    color: #ffffff;
    background: #05c26a;
    width: 50%;
    height: 40px;
    @include align-center;
    border-radius: 50px;

    &:after {
      //turkish lira symbol for example css code
      content: "\20BA";
      margin-left: 5px;
    }
  }

  &__category {
    background: rgb(186, 236, 210);
    color: #05c26a;
    width: 50%;
    height: 40px;
    border-radius: 20px;
    @include align-center;
    word-break: break;
    text-align: center;
  }

  &__price,
  &__category {
    font-size: 1.1rem;
    letter-spacing: 1px;
    @include mobile {
      font-size: 0.9rem;
      letter-spacing: 1px;
    }
  }
  &__batches {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
    gap: 5px;
  }

  &__heart_box {
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 2;
  }

  &:hover {
    border-color: #05c26a;
    box-shadow: inset 0 0 9px 1px rgb(186, 236, 210);
  }
}