@use "@assets/styles/mixin.scss" as *;

.home {
  padding: 0 15px;
  &__products {
    gap: 5px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    justify-content: center;
  }
}
