@use "@assets/styles/mixin.scss" as *;

.nodata {
    height: 300px;
    @include align-center;
    gap: 20px;
    flex-direction: column;
    color: var(--jadeGreen);
    background: var(--light);
    margin: 20px auto;
    &__description {
        font-size: 1.2rem;
        font-weight: 500;
        text-transform: capitalize;
    }
}
