@use "@assets/styles/mixin.scss" as *;

.basket {
  &__card_box {
    border: 1px solid #05c26a;
    border-radius: 25px;
    // width: 90%;
    // margin: 0 auto;
    gap: 10px;
    margin-bottom: 20px;
    // height: 200px;
    padding: 20px;
  }
  display: grid;
  @include tablet {
    grid-template-columns: 1fr;
  }
  @include mobile {
    grid-template-columns: 1fr;
  }
  @include desktop {
    grid-template-columns: 2fr 1fr;
  }
  &__box {
    &__wrapper {
      width: 90%;
      margin: 0 auto;
    }
    @include mobile {
      width: 95%;
      margin: 0 auto;
    }
    padding: 10px;
    overflow-y: auto;
    max-height: 500px;
    // border: 1px solid #e6e6e6;
    @include custom-scrollbar;
    &__title {
      font-size: 1.3rem;
      font-weight: 500;
      letter-spacing: 1px;
      margin-bottom: 10px;
      color: #000000;
    }
    &__content {
      &__price {
        text-align: center;
        display: flex;
        width: 100%;
        background-color: rgba(186, 236, 210, 0.459);
        padding: 15px;
        border-radius: 10px;
        font-size: 1rem;
        font-weight: 500;
        &__title {
          margin-right: 10px;
          // background-color: azure;
        }
        &__value {
          // background-color: azure;
        }
      }
    }
  }
  &__inner__list {
    overflow-y: auto;
    height: inherit;
    @include custom-scrollbar;
  }
}
