@use "@assets/styles/mixin" as *;
@use "@assets/styles/variables" as *;

$duration: 0.35s;

.modal {
    z-index: 10000;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--glass);
    position: fixed;
    margin: auto auto;
    height: 100%;
    width: 100%;
    z-index: 50;
    display: flex;
    justify-content: center;
    align-items: center;
    &__open {
        animation: blurEnter $duration linear both;
    }
    &__close {
        animation: blurLeave $duration linear both;
    }
    &__inner {
        box-sizing: border-box;
        background-color: var(--light);
        @media (max-width: 768px) {
            width: 100%;
            height: 100%;
        }
        @media (min-width: 768px) {
            width: 50%;
            max-height: 70%;
            border-radius: 10px;
        }
        padding: 15px 25px 40px;
        transform: translateY(-100%);
        &__open {
            animation: scaleFadeInEnter $duration linear both;
        }
        &__close {
            animation: scaleFadeInLeave $duration linear both;
        }

        &__header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            &__title {
                color: var(--jadeGreen);
                letter-spacing: 1px;
                font-size: 1.5rem;
                text-transform: capitalize;
            }
        }
        &__body {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }
}

@keyframes scaleFadeIn {
    0% {
        transform: translateY(-100%) scale(0.1);
        opacity: 0;
    }
    100% {
        transform: translateY(0) scale(1);
        opacity: 1;
    }
}
@keyframes scaleFadeOut {
    0% {
        transform: translateY(0) scale(1);
        opacity: 1;
    }
    100% {
        transform: translateY(-100%) scale(0.1);
        opacity: 0;
    }
}

@keyframes blurEnter {
    0% {
        backdrop-filter: blur(0px);
    }
    100% {
        backdrop-filter: blur(3px);
    }
}
@keyframes blurLeave {
    0% {
        backdrop-filter: blur(0px);
    }
    100% {
        backdrop-filter: blur(3px);
    }
}

@keyframes scaleFadeInEnter {
    0% {
        transform: translateY(-150%) scale(0.1);
        opacity: 0;
    }
    100% {
        transform: translateY(0) scale(1);
        opacity: 1;
    }
}
@keyframes scaleFadeInLeave {
    0% {
        transform: translateY(0) scale(1);
        opacity: 1;
    }
    100% {
        transform: translateY(-150%) scale(0.2);
        opacity: 0;
    }
}
