@use "@assets/styles/mixin" as *;
@use "@assets/styles/variables" as *;

.button {
  height: 40px;
  width: 100%;
  border-radius: 75px;
  @include align-center;
  border: none;
  color: var(--jadeGreen);
  &__primary {
    background-color: $jadegreen;
    color: $white;
    &:hover {
      position: relative;
      animation: pulsegreen 2s infinite;
    }
  }
  &__secondary {
    background-color: $lightgrey;
    color: $jadegreen;
    &:hover {
      position: relative;
      animation: pulsegrey 2s infinite;
    }
  }
  margin-top: 15px;
  text-transform: capitalize;
  &__sm {
    width: 100px;
  }
  &__md {
    width: 150px;
  }
  &__lg {
    width: 200px;
  }
  &__auto {
    width: auto;
  }
  &__icon {
    @include align-center;
  }
}

@keyframes pulsegreen {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 var(--jadeGreen);
  }
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px $icelight;
  }
  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 $icelight;
  }
}
@keyframes pulsegrey {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 #d3d3d3;
  }
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px $icelight;
  }
  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 $icelight;
  }
}
