@use "@assets/styles/mixin.scss" as *;

.logo {
  &__svg {
    fill: var(--jadeGreen);
    height: 40px;
    @include mobile {
      height: 30px;
    }
    &__xs {
      height: 20px !important;
    }
    &__sm {
      height: 30px !important;
    }
    &__md {
      height: 40px !important;
    }
    &__lg {
      height: 50px !important;
    }
  }
}
