// breakpoint mixin
@mixin extra-small {
  @media (max-width: 575px) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: 768px) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: 769px) and (max-width: 1024px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 1025px) {
    @content;
  }
}

// align mixin
@mixin align($align) {
  display: flex;
  align-items: $align;
  justify-content: $align;
}

@mixin align-center {
  @include align(center);
}

// scroll mixin
@mixin custom-scrollbar($color: #05c26a, $bg-color: #f0f0f0) {
  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $color;
    border-radius: 10px;
    &:hover{
      background-color: darken($color, 5%);
    }
  }

  &::-webkit-scrollbar-track {
    background-color: $bg-color;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 5px;
  }
}
