// breakpoint mixin
@mixin mobile {
  @media (max-width: 768px) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: 769px) and (max-width: 1024px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 1025px) {
    @content;
  }
}

// align mixin
@mixin align($align) {
  display: flex;
  align-items: $align;
  justify-content: $align;
}

@mixin align-center {
  @include align(center);
}

