$jadegreen: #05c26a;
$lightgreen: rgb(186, 236, 210);
$softgreen: #baecd2;
$transparent: rgba(255, 255, 255, 0);
$lightgrey: #f0f0f0;
$icegrey: rgb(243, 243, 243);
$glassgrey: rgba(0, 0, 0, 0.04);
$grey:#0000000d;
$icelight: rgba(204, 169, 44, 0);
$black: #000000;
$white: #ffffff;
